{
    "env": {
      "es6": true,
      "node": true
    },
    "root": true,
    "ignorePatterns": [
      "/node_modules",
      "/default",
      "/build"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "ecmaVersion": "latest",
      "project": [
        "./tsconfig.json"
      ]
    },
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "@typescript-eslint/no-unused-vars": "error",
      "no-console": "error",
      "quotes": [
        "error",
        "single",
        {
          "avoidEscape": true
        }
      ],
      "global-require": "off",
      "@typescript-eslint/indent": [
        "error",
        4,
        {
          "SwitchCase": 1
        }
      ],
      "@typescript-eslint/comma-dangle": [
        "error",
        "never"
      ],
      "@typescript-eslint/promise-function-async": "error",
      "@typescript-eslint/no-floating-promises": "error",
      "@typescript-eslint/no-misused-promises": "error",
      "@typescript-eslint/ban-ts-comment": "off",
      "@typescript-eslint/no-inferrable-types": "off",
      "@typescript-eslint/require-await": "error",
      "@typescript-eslint/await-thenable": "error",
      "@typescript-eslint/consistent-type-exports": "error",
      "@typescript-eslint/no-for-in-array": "error",
      "@typescript-eslint/prefer-as-const": "error",
      "@typescript-eslint/prefer-for-of": "error",
      "@typescript-eslint/prefer-includes": "error",
      "@typescript-eslint/prefer-string-starts-ends-with": "error",
      "@typescript-eslint/padding-line-between-statements": "error",
      "@typescript-eslint/no-misused-new": "error",
      "@typescript-eslint/no-use-before-define": "error",
      "@typescript-eslint/object-curly-spacing": [
        "error",
        "never"
      ],
      "@typescript-eslint/no-explicit-any": 0
    }
  }
  